body {
    background-color: rgba(15, 15, 15, 1)
}

div.grid {
    display: grid;
    background: rgba(50, 50, 50, 1);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.block {
    background: rgba(100, 100, 100, 1);
}

.restart-button {
    display: block;
    background: rgba(130, 130, 130, 1);
    cursor: pointer;
}
